@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ah071o');
  src:  url('fonts/icomoon.eot?ah071o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ah071o') format('truetype'),
    url('fonts/icomoon.woff?ah071o') format('woff'),
    url('fonts/icomoon.svg?ah071o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-brand:before {
  content: "\e901";
}
.icon-octacat:before {
  content: "\e901";
}
.icon-social:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-farming_science_technology_future-of-farming_agriculture_icon-1:before {
  content: "\e903";
}
.icon-science_technology_application_data_future-of-farming_icon-1:before {
  content: "\e904";
}
.icon-farming_information_internet_agriculture_database_icon-1:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e909";
}
.icon-map-pin:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-whatsapp:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e90d";
}
